.buttonOnHover {
    position: absolute;
    z-index: 2;
}

.buttonOnHover > div {
    overflow: visible !important;
}

.btnUI {
    position: absolute;
    width: 100%;
    height: 100%;
}

.starImg { 
  /* we need the optimized rendering of the next.js Image component, but have to override it's styles, and since next doesn't identify the elements inside <Image> in any way (cause why would you? -_-) it gets ugly.  */
  width: 200% !important; 
  height: 200% !important;
  margin: 0 !important;
  max-width: 200% !important;
  max-height: 200% !important;
  transform: translate(-25%, -25%);
  pointer-events: none;
  user-select: none;
}